.App {
  width: 600px;
  margin: 0 auto;
}

label {
  display: inline-block;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
